<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>MailSender</h4>
                    <p class="text-body-secondary">Рассылки.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Вход</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="/admin/">admin</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'users:logout' %}" class="text-muted">Выход</a></li>
                        <li><a href="{% url 'users:edit_profile' %}" class="text-muted">Редактирование профиля</a></li>
                        {% else %}
                        <li><a href="{% url 'users:login' %}" class="text-muted">Вход</a></li>
                        <li><a href="{% url 'users:register' %}" class="text-muted">Регистрация</a></li>
                        <li><a href="{% url 'users:password_reset' %}" class="text-muted">Восстановить пароль</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'mailsender:mailsender_list' %}" class="navbar-brand d-flex align-items-center fs-4 mb-0 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 class="bi bi-mailbox-flag" viewBox="0 0 16 16">
                <path d="M10.5 8.5V3.707l.854-.853A.5.5 0 0 0 11.5 2.5v-2A.5.5 0 0 0 11 0H9.5a.5.5 0 0 0-.5.5v8zM5 7c0 .334-.164.264-.415.157C4.42 7.087 4.218 7 4 7s-.42.086-.585.157C3.164 7.264 3 7.334 3 7a1 1 0 0 1 2 0"/>
                <path d="M4 3h4v1H6.646A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3V3a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3"/>
            </svg>
                <strong class="ms-3">MailSender</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>