{% extends 'mailsender/index.html' %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 g-3">
            {% for object in object_list %}
            <div class="col-4 sm-2" style="width: 24rem;">

                <div class="card shadow-sm">
                    <div class="card-body" >
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Настройка</th>
                                    <th scope="col">Значение</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="text-muted" scope="row">Название рассылки:</th>
                                    <td class="text-secondary">{{ object.name }}</td>
                                </tr>
                                <tr>
                                    <th class="text-muted" scope="row">Время начала:</th>
                                    <td class="text-secondary">{{ object.start_time }}</td>
                                </tr>
                                <tr>
                                    <th class="text-muted"  scope="row">Периодичность:</th>
                                    <td class="text-secondary">{{ object.frequency }}</td>
                                </tr>
                                <tr>
                                    <th class="text-muted" scope="row">Статус:</th>
                                    <td class="text-secondary">{{ object.status }}</td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'mailsender:mailinglist_detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary  ms-2 mb-2 ">View</a>
                            <a href="{% url 'mailsender:mailinglist_update' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary ms-1 mb-2">Edit</a>
                            {% elif user.is_authenticated and object.owner == user %}
                            <a href="{% url 'mailsender:mailinglist_detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary  ms-2 mb-2 ">View</a>
                            <a href="{% url 'mailsender:mailinglist_update' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary ms-1 mb-2">Edit</a>
                            <a href="{% url 'mailsender:mailinglist_delete' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary ms-1 mb-2">Delete</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}