{% extends 'mailsender/index.html' %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <form class="row row-cols-1 g-3" method="post" enctype="multipart/form-data">
            <div class="col-4 sm-2" style="width: 24rem;">
                <div class="card shadow-sm">
                    <div class="card-header">Создание письма {{object.subject}}</div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="mailinglist_id" value="{{ object.pk }}">

                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button href="#" type="submit"
                                    class="btn btn-success btn-sm btn-outline-secondary ms-2 mb-2 ">
                                {% if object %}
                                Save
                                {% else %}
                                Create
                                {% endif %}
                            </button>
                            <a href="{% url 'mailsender:message' %}" type="button" class="btn btn-sm btn-outline-secondary ms-1 mb-2">Back</a>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}